*{
    padding: 0;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: block;
    width: 100%;
}

header div{
    position: fixed;
    background-color: lightskyblue;
    width: 100%;
    left: 0;
    top: 0;
    padding: 50px 0px;
    border-bottom: 10px solid darkblue;
}

h1{
    position: absolute;
    left: 75px;
    display: inline;
    align-items: left;
}

header div li{
    display: inline;
    padding: 0px 20px;
}

body {
    padding: 0;
    background-color: rgb(255, 249, 220);
}
li{
    list-style-type: none;
}

a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: black
}
img{
    width: 500px;
    margin: 0px auto;
}

footer{
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    background-color: #c6aeff;
    border-top: 10px darkblue solid;
}
footer div{
    padding: 10px;
    text-align: right;
    font-size: 18px;
}

.right-align{
    position: relative;
    right:0;
    text-align: right;
    align-items: right;
}
.center-items{
    text-align: center;
    margin: 0px auto;
    width: 50%;
}

.text-center{
    text-align: center;
}
#hero{
    margin: 300px auto;
}
#top-pad{
    margin-top: 200px;
    padding-top: 50px;
}

#content-form{
    display: block;
    width: 800px;
    margin: 30px;
}
form{
    background-color: #494949;
    border-radius: 11px;
    padding: 2rem;
}
form input, textarea {
    margin-bottom: 30px;
    width: 100%;
}

textarea {
    resize: none;
}

label {
    font-size: 30px;
    margin-right: 100%;
    text-align: left;
    align-items: left;
    color: white;
}
form button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 5px;
}